<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo_one</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <style>
        .table_elem{
            width: 12% !important;
        }
    </style>
    <div class="container bg-light">
        <h1>{{dojo.name}}'s Ninjas:</h1>
        <table>
            <thead class="table_elem">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody class="table_elem">
                {% for ninja in dojo.ninjas %}
            
                    <tr>
                        <td>{{ninja.first_name}}</td>
                        <td>{{ninja.last_name}}</td>
                        <td>{{ninja.age}}</td>
                    </tr>
                    
                {% endfor %}
            </tbody>
        </table>
        <a href="/dojos">Home</a>
    </div>
</body>
</html>